@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables */
:root {
  --p-bright: rgb(214, 59, 193);
}

/* root */
.header {
  height: 5rem;
}

.drawer, .content-height {
  height: calc(100vh - 1rem * 5);
}

/* compact properties */

.rounded-5mm {
  border-radius: 5mm;
}

.line-height-100 {
  line-height: 100%;
}

/* bidding */

[data-theme="light"] .bid:hover {
  @apply text-base-200;
}

[data-theme="light"] .bid:hover .fill-base-content {
  @apply fill-base-200;
}

[data-theme="dark"] .bid-selected {
  @apply text-neutral-focus;
}

[data-theme="dark"] .bid-selected .fill-base-content {
  @apply fill-neutral-focus;
}

[data-theme="light"] .bid-selected:hover {
  @apply text-neutral-focus;
}

[data-theme="light"] .bid-selected:hover .fill-base-content {
  @apply fill-neutral-focus;
}

/* daisyUI fix */

@media screen and (min-width: 640px) {
  .drawer-toggle ~ .drawer-side {
    display: none !important; /* override daisyUI */
  }

  .drawer-content {
    transform: none !important; /* override daisyUI */
  }
}

/* todo */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
