@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  height: 5rem;
}

.drawer {
  height: calc(100vh - 1rem * 5);
}

@media screen and (min-width: 640px) {
  .drawer-toggle ~ .drawer-side {
    display: none !important; /* override daisyUI */
  }

  .drawer-content {
    transform: none !important; /* override daisyUI */
  }
}
